In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd
import json
import re

# Load the Excel file and the specific sheet
file_path = 'D:/Project 3 Cardheko/chennai_cars.xlsx'
df = pd.read_excel(file_path)

# Function to convert Python-style dictionary strings to valid JSON
def convert_to_json_format(text):
    text = text.replace("'", '"').replace("None", "null").replace("True", "true").replace("False", "false")
    text = re.sub(r'(?<!")(\b\w+\b)(?=:)', r'"\1"', text)
    return text

# Apply the conversion to the 'new_car_detail' column
df['new_car_detail'] = df['new_car_detail'].apply(convert_to_json_format)

# Function to flatten the JSON data
def flatten_json_column(df, column_name):
    return pd.json_normalize(df[column_name].apply(json.loads))

# Flatten the 'new_car_detail' column
flattened_details = flatten_json_column(df, 'new_car_detail')

# Display the structured data
flattened_details.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Petrol,SUV,"20,000",Automatic,1,1st Owner,Kia,Kia Sonet,2022,8654,Turbo DCT Anniversary Edition,₹ 11.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,Minivans,"20,687",Manual,1,1st Owner,Maruti,Maruti Eeco,2015,4025,7 Seater Standard BSIV,₹ 4.15 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,SUV,"30,000",Manual,1,1st Owner,Nissan,Nissan Magnite,2021,8135,Turbo XV Premium BSVI,₹ 7.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Hatchback,"59,247",Manual,1,1st Owner,Hyundai,Hyundai i10,2015,1579,Sportz 1.1L,₹ 3.98 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,0,Petrol,Hatchback,"50,000",Manual,1,1st Owner,Honda,Honda Jazz,2015,1341,1.2 VX i VTEC,₹ 5.50 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

In [7]:
#Optionally, save the structured data to a new CSV file
flattened_details.to_csv('structured_new_car_details1.csv', index=False)

In [8]:
import pandas as pd
import json
import re

# Load the Excel file and the specific sheet
file_path = 'D:/Project 3 Cardheko/chennai_cars.xlsx'
df = pd.read_excel(file_path)
df['new_car_overview'] = df['new_car_overview'].apply(lambda x:json.loads(x.replace("'",'"').replace('None',"1")))
def car_overview_dict_creator(overview):
    all_overviews = {}
    for dictionary in overview['top']:
        all_overviews.update({dictionary.get('key'):dictionary.get('value')})
    return all_overviews

df.new_car_overview = df.new_car_overview.apply(lambda overview: car_overview_dict_creator(overview))

overview_df = pd.DataFrame(df.new_car_overview.to_list())
overview_df

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2022,Third Party insurance,Petrol,5 Seats,"20,000 Kms",TN02,First Owner,998 cc,Automatic,2022
1,Feb 2015,Comprehensive,Petrol,7 Seats,"20,687 Kms",TN04,First Owner,1196 cc,Manual,2015
2,2021,Third Party insurance,Petrol,5 Seats,"30,000 Kms",TN22,First Owner,999 cc,Manual,2021
3,May 2015,Comprehensive,Petrol,5 Seats,"59,247 Kms",TN11,First Owner,1086 cc,Manual,2015
4,2015,Third Party insurance,Petrol,5 Seats,"50,000 Kms",KA03,First Owner,1199 cc,Manual,2015
...,...,...,...,...,...,...,...,...,...,...
1414,Jun 2018,Third Party insurance,Petrol,5 Seats,"42,891 Kms",TN09,First Owner,1197 cc,Automatic,2018
1415,Feb 2019,Third Party insurance,Diesel,5 Seats,"59,100 Kms",TN11,First Owner,1461 cc,Manual,2018
1416,Aug 2018,Not Available,Petrol,5 Seats,"55,913 Kms",TN11,First Owner,1198 cc,Automatic,2018
1417,Aug 2017,Comprehensive,Diesel,5 Seats,"65,000 Kms",TN22,First Owner,1968 cc,Automatic,2017
1418,Oct 2019,Comprehensive,Diesel,5 Seats,"60,000 Kms",TN87,First Owner,1995 cc,Automatic,2019

In [9]:
overview_df.to_csv('structured_new_car_overview1.csv', index=False)

In [10]:
import pandas as pd
import json

# Load the Excel file
file_path = 'D:/Project 3 Cardheko/chennai_cars.xlsx'
df = pd.read_excel(file_path)

# Clean and parse JSON-like strings in 'new_car_feature'
df['new_car_feature'] = df['new_car_feature'].apply(lambda x: json.loads(x.replace("'", '"').replace('None', '1')))

# Function to flatten the 'new_car_feature' column
def flatten_car_feature(feature):
    # Extract 'commonIcon'
    common_icon = feature.get('commonIcon', None)
    
    # Extract 'top' features
    top_features = {f"Top Feature {i+1}": item['value'] for i, item in enumerate(feature.get('top', []))}
    
    # Extract 'data' features with headings and subheadings
    data_features = {}
    for group in feature.get('data', []):
        heading = group['heading']
        sub_heading = group['subHeading']
        for i, item in enumerate(group.get('list', [])):
            key = f"{heading}_{sub_heading}_Feature {i+1}"
            data_features[key] = item['value']
    
    return {**top_features, **data_features, 'commonIcon': common_icon}

# Apply the function to extract and flatten data from 'new_car_feature'
df['flattened_features'] = df['new_car_feature'].apply(flatten_car_feature)

# Convert the flattened features into a DataFrame
features_df = pd.DataFrame(df['flattened_features'].tolist())

# Concatenate the original DataFrame with the new features DataFrame
result_df = pd.concat([df.drop(columns=['new_car_feature', 'flattened_features']), features_df], axis=1)

# Display the resulting DataFrame
print("Final DataFrame with all features in columns, including commonIcon:")
result_df.head()

Final DataFrame with all features in columns, including commonIcon:

,new_car_detail,new_car_overview,new_car_specs,car_links,Top Feature 1,Top Feature 2,Top Feature 3,Top Feature 4,Top Feature 5,Top Feature 6,...,Entertainment & Communication_Entertainment_Feature 16,Interior_Interior_Feature 18,Entertainment & Communication_Entertainment_Feature 17,Entertainment & Communication_Entertainment_Feature 18,Entertainment & Communication_Entertainment_Feature 19,Comfort & Convenience_Comfort_Feature 34,Safety_Safety_Feature 45,Comfort & Convenience_Comfort_Feature 35,Comfort & Convenience_Comfort_Feature 36,Comfort & Convenience_Comfort_Feature 37
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Minivans', 'k...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...,Low Fuel Warning Light,Accessory Power Outlet,Heater,Digital Odometer,Adjustable Head Lights,Manually Adjustable Exterior Rear View Mirror,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Optionally, save the structured data to a new CSV file
result_df.to_csv('structured_new_car_feature1.csv', index=False)

In [14]:
import pandas as pd
import json

# Load the Excel file
file_path = 'D:/Project 3 Cardheko/chennai_cars.xlsx'
df = pd.read_excel(file_path)

# Clean and parse JSON-like strings in 'new_car_specs'
df['new_car_specs'] = df['new_car_specs'].apply(lambda x: json.loads(x.replace("'", '"').replace('None', '1')))

# Function to flatten the 'new_car_specs' column
def flatten_car_specs(specs):
    # Initialize a dictionary to store the flattened data
    flattened_data = {}
    
    
    
    # Extract 'top' specifications
    for item in specs.get('top', []):
        key = item.get('key')
        value = item.get('value')
        if key:  # Ensure key is not None
            flattened_data[key] = value
    
    # Extract 'data' features with headings and subheadings
    for group in specs.get('data', []):
        for item in group.get('list', []):
            key = item.get('key')
            value = item.get('value')
            if key:  # Ensure key is not None
                flattened_data[key] = value
    
    return flattened_data

# Apply the function to extract and flatten data from 'new_car_specs'
df['flattened_specs'] = df['new_car_specs'].apply(flatten_car_specs)

# Convert the flattened specs into a DataFrame
specs_df = pd.DataFrame(df['flattened_specs'].tolist())

# Concatenate the original DataFrame with the new specs DataFrame
result_df = pd.concat([df.drop(columns=['new_car_specs', 'flattened_specs']), specs_df], axis=1)

# Display the resulting DataFrame
print("Final DataFrame with keys as column names and values as rows:")
result_df.head()

Final DataFrame with keys as column names and values as rows:

,new_car_detail,new_car_overview,new_car_feature,car_links,Engine,Max Power,Torque,Wheel Size,Seats,Color,...,Compression Ratio,Super Charger,Front Tread,Rear Tread,Gross Weight,Turning Radius,Top Speed,Acceleration,BoreX Stroke,Ground Clearance Unladen
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...",https://www.cardekho.com/used-car-details/used...,998 CC,118.36bhp@6000rpm,172nm,16,5,Black,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Minivans', 'k...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Low...",https://www.cardekho.com/buy-used-car-details/...,1196 CC,73bhp@6000rpm,101Nm,NaN,7,Grey,...,9.9:1,No,1280mm,1290mm,1540kg,4.5 metres,145 Kmph,15.7 Seconds,NaN,NaN
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...",https://www.cardekho.com/used-car-details/used...,999 CC,98.63bhp@5000rpm,160Nm,16,5,Others,...,NaN,No,NaN,NaN,NaN,5.0,NaN,11.7,72.2 x 81.3,NaN
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...",https://www.cardekho.com/buy-used-car-details/...,1086 CC,68.05bhp@5500rpm,99.04Nm,NaN,5,Silver,...,NaN,No,1400mm,1385mm,NaN,4.7 metres,165 Kmph,14.3 Seconds,NaN,NaN
4,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...",https://www.cardekho.com/used-car-details/used...,1199 CC,88.7bhp@6000rpm,110Nm,15,5,Others,...,NaN,No,NaN,NaN,NaN,5.1 meters,172 Kmph,13.7 Seconds,NaN,NaN

In [15]:
# Optionally, save the structured data to a new CSV file
result_df.to_csv('structured_new_car_specs1.csv', index=False)

In [16]:

df1 = pd.read_csv('D:/Project 3 Cardheko/structured_new_car_details1.csv')
df2 = pd.read_csv('D:/Project 3 Cardheko/structured_new_car_feature1.csv')
df3 = pd.read_csv('D:/Project 3 Cardheko/structured_new_car_overview1.csv')
df4 = pd.read_csv('D:/Project 3 Cardheko/structured_new_car_specs1.csv')

# Concatenate DataFrames horizontally
final_concat_df = pd.concat([df1, df2, df3, df4], axis=1)

# Display the final concatenated DataFrame
final_concat_df

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Compression Ratio,Super Charger,Front Tread,Rear Tread,Gross Weight,Turning Radius,Top Speed,Acceleration,BoreX Stroke,Ground Clearance Unladen
0,0,Petrol,SUV,"20,000",Automatic,1,1st Owner,Kia,Kia Sonet,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,Petrol,Minivans,"20,687",Manual,1,1st Owner,Maruti,Maruti Eeco,2015,...,9.9:1,No,1280mm,1290mm,1540kg,4.5 metres,145 Kmph,15.7 Seconds,NaN,NaN
2,0,Petrol,SUV,"30,000",Manual,1,1st Owner,Nissan,Nissan Magnite,2021,...,NaN,No,NaN,NaN,NaN,5,NaN,11.7,72.2 x 81.3,NaN
3,0,Petrol,Hatchback,"59,247",Manual,1,1st Owner,Hyundai,Hyundai i10,2015,...,NaN,No,1400mm,1385mm,NaN,4.7 metres,165 Kmph,14.3 Seconds,NaN,NaN
4,0,Petrol,Hatchback,"50,000",Manual,1,1st Owner,Honda,Honda Jazz,2015,...,NaN,No,NaN,NaN,NaN,5.1 meters,172 Kmph,13.7 Seconds,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1414,0,Petrol,Hatchback,"42,891",Automatic,1,1st Owner,Maruti,Maruti Swift,2018,...,NaN,No,1530mm,1530mm,1315kg,4.8 Meters,NaN,NaN,NaN,NaN
1415,0,Diesel,SUV,"59,100",Manual,1,1st Owner,Renault,Renault Duster,2018,...,NaN,No,1560mm,1567mm,1777kg,5.2 metres,156 Kmph,13.9 Seconds,NaN,NaN
1416,0,Petrol,SUV,"55,913",Automatic,1,1st Owner,Tata,Tata Nexon,2018,...,NaN,No,1540 mm,1530 mm,NaN,5.1m,154.19 kmph,NaN,77x85.8,209 mm
1417,0,Diesel,SUV,"65,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Tiguan,2017,...,NaN,No,1578mm,1568mm,2250kg,5.75meters,NaN,NaN,74.5 x 81 mm,NaN
1418,0,Diesel,Sedan,"60,000",Automatic,1,1st Owner,BMW,BMW 3 Series GT,2019,...,NaN,No,1541 mm,1581 mm,NaN,5.5 metres,226 Kmph,7.7 Seconds,NaN,NaN

In [17]:
final_concat_df['city'] = 'Chennai'

In [18]:
final_concat_df.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Super Charger,Front Tread,Rear Tread,Gross Weight,Turning Radius,Top Speed,Acceleration,BoreX Stroke,Ground Clearance Unladen,city
0,0,Petrol,SUV,"20,000",Automatic,1,1st Owner,Kia,Kia Sonet,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Chennai
1,0,Petrol,Minivans,"20,687",Manual,1,1st Owner,Maruti,Maruti Eeco,2015,...,No,1280mm,1290mm,1540kg,4.5 metres,145 Kmph,15.7 Seconds,NaN,NaN,Chennai
2,0,Petrol,SUV,"30,000",Manual,1,1st Owner,Nissan,Nissan Magnite,2021,...,No,NaN,NaN,NaN,5,NaN,11.7,72.2 x 81.3,NaN,Chennai
3,0,Petrol,Hatchback,"59,247",Manual,1,1st Owner,Hyundai,Hyundai i10,2015,...,No,1400mm,1385mm,NaN,4.7 metres,165 Kmph,14.3 Seconds,NaN,NaN,Chennai
4,0,Petrol,Hatchback,"50,000",Manual,1,1st Owner,Honda,Honda Jazz,2015,...,No,NaN,NaN,NaN,5.1 meters,172 Kmph,13.7 Seconds,NaN,NaN,Chennai

In [19]:
final_concat_df.to_csv('Chennai.csv',index=False)