In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import json
import re

# Load the Excel file and the specific sheet
file_path = 'D:/Project 3 Cardheko/hyderabad_cars.xlsx'
df = pd.read_excel(file_path)

# Function to convert Python-style dictionary strings to valid JSON
def convert_to_json_format(text):
    text = text.replace("'", '"').replace("None", "null").replace("True", "true").replace("False", "false")
    text = re.sub(r'(?<!")(\b\w+\b)(?=:)', r'"\1"', text)
    return text

# Apply the conversion to the 'new_car_detail' column
df['new_car_detail'] = df['new_car_detail'].apply(convert_to_json_format)

# Function to flatten the JSON data
def flatten_json_column(df, column_name):
    return pd.json_normalize(df[column_name].apply(json.loads))

# Flatten the 'new_car_detail' column
flattened_details = flatten_json_column(df, 'new_car_detail')

# Display the structured data
flattened_details.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Petrol,Hatchback,"20,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Polo,2022,7746,1.0 TSI Highline Plus AT,₹ 10.44 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,Hatchback,"85,582",Manual,2,2nd Owner,Hyundai,Hyundai EON,2014,1502,Era Plus,₹ 2.60 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,SUV,"10,000",Manual,1,1st Owner,Hyundai,Hyundai Venue,2023,9153,S BSVI,₹ 9.55 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Hatchback,"50,750",Manual,1,1st Owner,Maruti,Maruti Baleno,2017,3970,1.2 Alpha,₹ 6.71 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,0,Petrol,SUV,"10,000",Automatic,1,1st Owner,Mahindra,Mahindra Thar,2022,8074,LX 4-Str Hard Top AT BSVI,₹ 19 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

In [3]:
#Optionally, save the structured data to a new CSV file
flattened_details.to_csv('structured_new_car_details3.csv', index=False)

In [4]:
import pandas as pd
import json
import re

# Load the Excel file and the specific sheet
file_path = 'D:/Project 3 Cardheko/hyderabad_cars.xlsx'
df = pd.read_excel(file_path)
df['new_car_overview'] = df['new_car_overview'].apply(lambda x:json.loads(x.replace("'",'"').replace('None',"1")))
def car_overview_dict_creator(overview):
    all_overviews = {}
    for dictionary in overview['top']:
        all_overviews.update({dictionary.get('key'):dictionary.get('value')})
    return all_overviews

df.new_car_overview = df.new_car_overview.apply(lambda overview: car_overview_dict_creator(overview))

overview_df = pd.DataFrame(df.new_car_overview.to_list())
overview_df

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2022,Third Party insurance,Petrol,5 Seats,"20,000 Kms",TS04,First Owner,999 cc,Automatic,2022.0
1,Oct 2014,Third Party insurance,Petrol,5 Seats,"85,582 Kms",TS09,Second Owner,814 cc,Manual,2014.0
2,2023,Third Party insurance,Petrol,5 Seats,"10,000 Kms",NaN,First Owner,1197 cc,Manual,2023.0
3,Mar 2017,Third Party insurance,Petrol,5 Seats,"50,750 Kms",TS07,First Owner,1197 cc,Manual,2017.0
4,2022,Third Party insurance,Petrol,4 Seats,"10,000 Kms",NaN,First Owner,1997 cc,Automatic,2022.0
...,...,...,...,...,...,...,...,...,...,...
1478,2013,Third Party insurance,Diesel,7 Seats,"60,000 Kms",TS09,First Owner,2179 cc,Manual,2013.0
1479,2014,Third Party insurance,Diesel,5 Seats,"50,000 Kms",NaN,First Owner,2993 cc,Automatic,2014.0
1480,2018,Third Party insurance,Diesel,5 Seats,"1,20,000 Kms",TS09,Third Owner,1995 cc,Automatic,2018.0
1481,2019,Third Party insurance,Diesel,5 Seats,"50,000 Kms",TS08,Second Owner,1497 cc,Automatic,2019.0
1482,2015,Third Party insurance,Diesel,7 Seats,"1,00,000 Kms",NaN,First Owner,2494 cc,Manual,2015.0

In [5]:
overview_df.to_csv('structured_new_car_overview3.csv', index=False)

In [6]:
import pandas as pd
import json

# Load the Excel file
file_path = 'D:/Project 3 Cardheko/hyderabad_cars.xlsx'
df = pd.read_excel(file_path)

# Clean and parse JSON-like strings in 'new_car_feature'
df['new_car_feature'] = df['new_car_feature'].apply(lambda x: json.loads(x.replace("'", '"').replace('None', '1')))

# Function to flatten the 'new_car_feature' column
def flatten_car_feature(feature):
    # Extract 'commonIcon'
    common_icon = feature.get('commonIcon', None)
    
    # Extract 'top' features
    top_features = {f"Top Feature {i+1}": item['value'] for i, item in enumerate(feature.get('top', []))}
    
    # Extract 'data' features with headings and subheadings
    data_features = {}
    for group in feature.get('data', []):
        heading = group['heading']
        sub_heading = group['subHeading']
        for i, item in enumerate(group.get('list', [])):
            key = f"{heading}_{sub_heading}_Feature {i+1}"
            data_features[key] = item['value']
    
    return {**top_features, **data_features, 'commonIcon': common_icon}

# Apply the function to extract and flatten data from 'new_car_feature'
df['flattened_features'] = df['new_car_feature'].apply(flatten_car_feature)

# Convert the flattened features into a DataFrame
features_df = pd.DataFrame(df['flattened_features'].tolist())

# Concatenate the original DataFrame with the new features DataFrame
result_df = pd.concat([df.drop(columns=['new_car_feature', 'flattened_features']), features_df], axis=1)

# Display the resulting DataFrame
print("Final DataFrame with all features in columns, including commonIcon:")
result_df.head()

Final DataFrame with all features in columns, including commonIcon:

,new_car_detail,new_car_overview,new_car_specs,car_links,Top Feature 1,Top Feature 2,Top Feature 3,Top Feature 4,Top Feature 5,Top Feature 6,...,Safety_Safety_Feature 38,Entertainment & Communication_Entertainment_Feature 15,Entertainment & Communication_Entertainment_Feature 16,Entertainment & Communication_Entertainment_Feature 17,Entertainment & Communication_Entertainment_Feature 18,Entertainment & Communication_Entertainment_Feature 19,Comfort & Convenience_Comfort_Feature 31,Comfort & Convenience_Comfort_Feature 32,Safety_Safety_Feature 39,Safety_Safety_Feature 40
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Manually Adjustable Exterior Rear View Mirror,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Power Adjustable Exterior Rear View Mirror,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Optionally, save the structured data to a new CSV file
result_df.to_csv('structured_new_car_feature3.csv', index=False)

In [8]:
import pandas as pd
import json

# Load the Excel file
file_path = 'D:/Project 3 Cardheko/hyderabad_cars.xlsx'
df = pd.read_excel(file_path)

# Clean and parse JSON-like strings in 'new_car_specs'
df['new_car_specs'] = df['new_car_specs'].apply(lambda x: json.loads(x.replace("'", '"').replace('None', '1')))

# Function to flatten the 'new_car_specs' column
def flatten_car_specs(specs):
    # Initialize a dictionary to store the flattened data
    flattened_data = {}
    
    
    
    # Extract 'top' specifications
    for item in specs.get('top', []):
        key = item.get('key')
        value = item.get('value')
        if key:  # Ensure key is not None
            flattened_data[key] = value
    
    # Extract 'data' features with headings and subheadings
    for group in specs.get('data', []):
        for item in group.get('list', []):
            key = item.get('key')
            value = item.get('value')
            if key:  # Ensure key is not None
                flattened_data[key] = value
    
    return flattened_data

# Apply the function to extract and flatten data from 'new_car_specs'
df['flattened_specs'] = df['new_car_specs'].apply(flatten_car_specs)

# Convert the flattened specs into a DataFrame
specs_df = pd.DataFrame(df['flattened_specs'].tolist())

# Concatenate the original DataFrame with the new specs DataFrame
result_df = pd.concat([df.drop(columns=['new_car_specs', 'flattened_specs']), specs_df], axis=1)

# Display the resulting DataFrame
print("Final DataFrame with keys as column names and values as rows:")
result_df.head()

Final DataFrame with keys as column names and values as rows:

,new_car_detail,new_car_overview,new_car_feature,car_links,Mileage,Engine,Max Power,Torque,Wheel Size,Seats,...,Turning Radius,Front Brake Type,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,Top Speed,Acceleration,Ground Clearance Unladen
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...",https://www.cardekho.com/used-car-details/used...,16.47 kmpl,999 CC,108.62bhp@5000-5500rpm,175nm,R16,5,...,4.9,Disc,Drum,"Tubeless,Radial",R16,5,280,NaN,NaN,NaN
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...",https://www.cardekho.com/buy-used-car-details/...,21.1 kmpl,814 CC,55.2bhp@5500rpm,74.5Nm,NaN,5,...,4.6 metres,Disc,Drum,Tubeless,NaN,5,215-litres,135 Kmph,19 Seconds,NaN
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...",https://www.cardekho.com/used-car-details/used...,NaN,1197 CC,81.80bhp@6000rpm,113.8Nm,NaN,5,...,NaN,Disc,Drum,"Tubeless, Radial",NaN,5,NaN,NaN,NaN,NaN
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...",https://www.cardekho.com/buy-used-car-details/...,21.4 kmpl,1197 CC,83.1bhp@6000rpm,115Nm,16,5,...,4.9 meters,Disc,Drum,"Tubeless,Radial",16,5,339-litres,180 Kmph,12.36 seconds,NaN
4,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...",https://www.cardekho.com/used-car-details/used...,NaN,1997 CC,150bhp@5000rpm,320Nm,18,4,...,NaN,Disc,Drum,"Radial, Tubeless",18,3,NaN,NaN,NaN,NaN

In [9]:
# Optionally, save the structured data to a new CSV file
result_df.to_csv('structured_new_car_specs3.csv', index=False)

In [10]:

df1 = pd.read_csv('D:/Project 3 Cardheko/structured_new_car_details3.csv')
df2 = pd.read_csv('D:/Project 3 Cardheko/structured_new_car_feature3.csv')
df3 = pd.read_csv('D:/Project 3 Cardheko/structured_new_car_overview3.csv')
df4 = pd.read_csv('D:/Project 3 Cardheko/structured_new_car_specs3.csv')

# Concatenate DataFrames horizontally
final_concat_df = pd.concat([df1, df2, df3, df4], axis=1)

# Display the final concatenated DataFrame
final_concat_df

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Turning Radius,Front Brake Type,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,Top Speed,Acceleration,Ground Clearance Unladen
0,0,Petrol,Hatchback,"20,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Polo,2022,...,4.9,Disc,Drum,"Tubeless,Radial",R16,5,280,NaN,NaN,NaN
1,0,Petrol,Hatchback,"85,582",Manual,2,2nd Owner,Hyundai,Hyundai EON,2014,...,4.6 metres,Disc,Drum,Tubeless,NaN,5,215-litres,135 Kmph,19 Seconds,NaN
2,0,Petrol,SUV,"10,000",Manual,1,1st Owner,Hyundai,Hyundai Venue,2023,...,NaN,Disc,Drum,"Tubeless, Radial",NaN,5,NaN,NaN,NaN,NaN
3,0,Petrol,Hatchback,"50,750",Manual,1,1st Owner,Maruti,Maruti Baleno,2017,...,4.9 meters,Disc,Drum,"Tubeless,Radial",16,5,339-litres,180 Kmph,12.36 seconds,NaN
4,0,Petrol,SUV,"10,000",Automatic,1,1st Owner,Mahindra,Mahindra Thar,2022,...,NaN,Disc,Drum,"Radial, Tubeless",18,3,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Mahindra,Mahindra XUV500,2013,...,5.6 metres,Disc & Caliper Type,Disc & Caliper Type,"Tubeless,Radial",17,5,NaN,175 kmph,12.5 Seconds,NaN
1479,0,Diesel,Sedan,"50,000",Automatic,1,1st Owner,Jaguar,Jaguar XF,2014,...,5.75 metres,Disc,Disc,"Tubeless,Radial",20,4,540-litres,250 Kmph,6.4 Seconds,NaN
1480,0,Diesel,Sedan,"1,20,000",Automatic,3,3rd Owner,BMW,BMW 5 Series,2018,...,5.6,Ventilated Disc,Ventilated Disc,"Tubeless, Runflat",R18,4,520-litres,235kmph,7.5,NaN
1481,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Tata,Tata Nexon,2019,...,5.1m,Disc,Drum,Tubeless Radial Tyres,NaN,5,350,154.19 kmph,13.25 Seconds,209 mm
1482,0,Diesel,MUV,"1,00,000",Manual,1,1st Owner,Toyota,Toyota Innova,2015,...,5.4 metres,Ventilated Disc,Drum,"Tubeless,Radial",15,5,300-litres,155 Kmph,13.3 Seconds,NaN

In [11]:
final_concat_df['city'] = 'Hyderabad'

In [12]:
final_concat_df.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Front Brake Type,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Cargo Volumn,Top Speed,Acceleration,Ground Clearance Unladen,city
0,0,Petrol,Hatchback,"20,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Polo,2022,...,Disc,Drum,"Tubeless,Radial",R16,5,280,NaN,NaN,NaN,Hyderabad
1,0,Petrol,Hatchback,"85,582",Manual,2,2nd Owner,Hyundai,Hyundai EON,2014,...,Disc,Drum,Tubeless,NaN,5,215-litres,135 Kmph,19 Seconds,NaN,Hyderabad
2,0,Petrol,SUV,"10,000",Manual,1,1st Owner,Hyundai,Hyundai Venue,2023,...,Disc,Drum,"Tubeless, Radial",NaN,5,NaN,NaN,NaN,NaN,Hyderabad
3,0,Petrol,Hatchback,"50,750",Manual,1,1st Owner,Maruti,Maruti Baleno,2017,...,Disc,Drum,"Tubeless,Radial",16,5,339-litres,180 Kmph,12.36 seconds,NaN,Hyderabad
4,0,Petrol,SUV,"10,000",Automatic,1,1st Owner,Mahindra,Mahindra Thar,2022,...,Disc,Drum,"Radial, Tubeless",18,3,NaN,NaN,NaN,NaN,Hyderabad

In [13]:
final_concat_df.to_csv('Hyderabad.csv',index=False)