In [1]:
!pip install pandas

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd
import json
import re

# Load the Excel file and the specific sheet
file_path = 'D:/Project 3 Cardheko/kolkata_cars.xlsx'
df = pd.read_excel(file_path)

# Function to convert Python-style dictionary strings to valid JSON
def convert_to_json_format(text):
    text = text.replace("'", '"').replace("None", "null").replace("True", "true").replace("False", "false")
    text = re.sub(r'(?<!")(\b\w+\b)(?=:)', r'"\1"', text)
    return text

# Apply the conversion to the 'new_car_detail' column
df['new_car_detail'] = df['new_car_detail'].apply(convert_to_json_format)

# Function to flatten the JSON data
def flatten_json_column(df, column_name):
    return pd.json_normalize(df[column_name].apply(json.loads))

# Flatten the 'new_car_detail' column
flattened_details = flatten_json_column(df, 'new_car_detail')

# Display the structured data
flattened_details.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Petrol,Sedan,"70,000",Automatic,3,3rd Owner,Toyota,Toyota Camry,2014,2123,Hybrid,₹ 9.75 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,Hatchback,"23,981",Manual,1,1st Owner,Datsun,Datsun RediGO,2017,5236,T Option,₹ 2.66 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,SUV,"7,100",Automatic,1,1st Owner,Renault,Renault Kiger,2021,8352,RXT AMT,₹ 5.95 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Hatchback,"71,574",Manual,2,2nd Owner,Hyundai,Hyundai i20,2011,1642,1.2 Sportz,₹ 2.23 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
4,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Audi,Audi Q3,2014,99,35 TDI Quattro Premium,₹ 12 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

In [3]:
#Optionally, save the structured data to a new CSV file
flattened_details.to_csv('structured_new_car_details5.csv', index=False)

In [4]:
import pandas as pd
import json
import re

# Load the Excel file and the specific sheet
file_path = 'D:/Project 3 Cardheko/kolkata_cars.xlsx'
df = pd.read_excel(file_path)
df['new_car_overview'] = df['new_car_overview'].apply(lambda x:json.loads(x.replace("'",'"').replace('None',"1")))
def car_overview_dict_creator(overview):
    all_overviews = {}
    for dictionary in overview['top']:
        all_overviews.update({dictionary.get('key'):dictionary.get('value')})
    return all_overviews

df.new_car_overview = df.new_car_overview.apply(lambda overview: car_overview_dict_creator(overview))

overview_df = pd.DataFrame(df.new_car_overview.to_list())
overview_df

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2014,Third Party insurance,Petrol,5 Seats,"70,000 Kms",WB02,Third Owner,2494 cc,Automatic,2014.0
1,Jul 2017,Comprehensive,Petrol,5 Seats,"23,981 Kms",WB24,First Owner,799 cc,Manual,2017.0
2,Nov 2021,Comprehensive,Petrol,5 Seats,"7,100 Kms",WB06,First Owner,999 cc,Automatic,2021.0
3,Feb 2012,Third Party,Petrol,5 Seats,"71,574 Kms",WB06,Second Owner,1197 cc,Manual,2011.0
4,2014,Third Party insurance,Diesel,5 Seats,"50,000 Kms",WB02,Second Owner,1968 cc,Automatic,2014.0
...,...,...,...,...,...,...,...,...,...,...
1376,2022,Third Party insurance,Petrol,5 Seats,"10,000 Kms",NaN,First Owner,998 cc,Manual,2022.0
1377,2014,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",NaN,First Owner,796 cc,Manual,2014.0
1378,2011,Third Party insurance,Petrol,5 Seats,"50,000 Kms",WB06,Third Owner,1796 cc,Automatic,2011.0
1379,2012,Third Party insurance,Petrol,5 Seats,"40,000 Kms",NaN,First Owner,1197 cc,Manual,2012.0
1380,2017,Third Party insurance,Diesel,5 Seats,"1,20,000 Kms",NaN,Second Owner,1461 cc,Manual,2017.0

In [5]:
overview_df.to_csv('structured_new_car_overview5.csv', index=False)

In [6]:
import pandas as pd
import json

# Load the Excel file
file_path = 'D:/Project 3 Cardheko/kolkata_cars.xlsx'
df = pd.read_excel(file_path)

# Clean and parse JSON-like strings in 'new_car_feature'
df['new_car_feature'] = df['new_car_feature'].apply(lambda x: json.loads(x.replace("'", '"').replace('None', '1')))

# Function to flatten the 'new_car_feature' column
def flatten_car_feature(feature):
    # Extract 'commonIcon'
    common_icon = feature.get('commonIcon', None)
    
    # Extract 'top' features
    top_features = {f"Top Feature {i+1}": item['value'] for i, item in enumerate(feature.get('top', []))}
    
    # Extract 'data' features with headings and subheadings
    data_features = {}
    for group in feature.get('data', []):
        heading = group['heading']
        sub_heading = group['subHeading']
        for i, item in enumerate(group.get('list', [])):
            key = f"{heading}_{sub_heading}_Feature {i+1}"
            data_features[key] = item['value']
    
    return {**top_features, **data_features, 'commonIcon': common_icon}

# Apply the function to extract and flatten data from 'new_car_feature'
df['flattened_features'] = df['new_car_feature'].apply(flatten_car_feature)

# Convert the flattened features into a DataFrame
features_df = pd.DataFrame(df['flattened_features'].tolist())

# Concatenate the original DataFrame with the new features DataFrame
result_df = pd.concat([df.drop(columns=['new_car_feature', 'flattened_features']), features_df], axis=1)

# Display the resulting DataFrame
print("Final DataFrame with all features in columns, including commonIcon:")
result_df.head()

Final DataFrame with all features in columns, including commonIcon:

,new_car_detail,new_car_overview,new_car_specs,car_links,Top Feature 1,Top Feature 2,Top Feature 3,Top Feature 4,Top Feature 5,Top Feature 6,...,Entertainment & Communication_Entertainment_Feature 15,Entertainment & Communication_Entertainment_Feature 16,Entertainment & Communication_Entertainment_Feature 17,Entertainment & Communication_Entertainment_Feature 18,Entertainment & Communication_Entertainment_Feature 19,Comfort & Convenience_Comfort_Feature 34,Safety_Safety_Feature 42,Safety_Safety_Feature 43,Safety_Safety_Feature 44,Safety_Safety_Feature 45
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Manually Adjustable Exterior Rear View Mirror,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Power Adjustable Exterior Rear View Mirror,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...,Power Steering,Power Windows Front,Air Conditioner,Heater,Fog Lights Rear,Power Adjustable Exterior Rear View Mirror,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,Power Steering,Power Windows Front,Air Conditioner,Heater,Adjustable Head Lights,Fog Lights Front,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Optionally, save the structured data to a new CSV file
result_df.to_csv('structured_new_car_feature5.csv', index=False)

In [8]:
import pandas as pd
import json

# Load the Excel file
file_path = 'D:/Project 3 Cardheko/kolkata_cars.xlsx'
df = pd.read_excel(file_path)

# Clean and parse JSON-like strings in 'new_car_specs'
df['new_car_specs'] = df['new_car_specs'].apply(lambda x: json.loads(x.replace("'", '"').replace('None', '1')))

# Function to flatten the 'new_car_specs' column
def flatten_car_specs(specs):
    # Initialize a dictionary to store the flattened data
    flattened_data = {}
    
    
    
    # Extract 'top' specifications
    for item in specs.get('top', []):
        key = item.get('key')
        value = item.get('value')
        if key:  # Ensure key is not None
            flattened_data[key] = value
    
    # Extract 'data' features with headings and subheadings
    for group in specs.get('data', []):
        for item in group.get('list', []):
            key = item.get('key')
            value = item.get('value')
            if key:  # Ensure key is not None
                flattened_data[key] = value
    
    return flattened_data

# Apply the function to extract and flatten data from 'new_car_specs'
df['flattened_specs'] = df['new_car_specs'].apply(flatten_car_specs)

# Convert the flattened specs into a DataFrame
specs_df = pd.DataFrame(df['flattened_specs'].tolist())

# Concatenate the original DataFrame with the new specs DataFrame
result_df = pd.concat([df.drop(columns=['new_car_specs', 'flattened_specs']), specs_df], axis=1)

# Display the resulting DataFrame
print("Final DataFrame with keys as column names and values as rows:")
result_df.head()

Final DataFrame with keys as column names and values as rows:

,new_car_detail,new_car_overview,new_car_feature,car_links,Mileage,Engine,Max Power,Torque,Wheel Size,Seats,...,Front Brake Type,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Ground Clearance Unladen,Cargo Volumn,Compression Ratio,Acceleration,Top Speed
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...",https://www.cardekho.com/used-car-details/used...,19.16 kmpl,2494 CC,158.2bhp@5700rpm,213Nm,17,5,...,Ventilated Disc,Solid Disc,"Tubeless,Radial",17,4,NaN,NaN,NaN,NaN,NaN
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...",https://www.cardekho.com/buy-used-car-details/...,22.7 kmpl,799 CC,53.64bhp@5678rpm,72Nm,NaN,5,...,Disc,Drum,NaN,NaN,5,185mm,222,NaN,NaN,NaN
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...",https://www.cardekho.com/used-car-details/used...,19.03 kmpl,999 CC,71.01bhp@6250rpm,96Nm,NaN,5,...,Disc,Drum,"Tubeless, Radial",NaN,5,NaN,405,NaN,NaN,NaN
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...",https://www.cardekho.com/buy-used-car-details/...,17 kmpl,1197 CC,80 PS at 5200 rpm,"11.4 kgm at 4,000 rpm",14,5,...,Disc,Drum,"Tubeless,Radial",14,5,NaN,295 Lit,:1,12.96 Sec,NaN
4,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...",https://www.cardekho.com/used-car-details/used...,15.73 kmpl,1968 CC,174.33bhp@4200rpm,380Nm,16,5,...,Ventilated Disc,Drum,"Tubeless,Radial",16,5,NaN,460-litres,NaN,8.2 Seconds,212 Kmph

In [9]:
# Optionally, save the structured data to a new CSV file
result_df.to_csv('structured_new_car_specs5.csv', index=False)

In [10]:

df1 = pd.read_csv('D:/Project 3 Cardheko/structured_new_car_details5.csv')
df2 = pd.read_csv('D:/Project 3 Cardheko/structured_new_car_feature5.csv')
df3 = pd.read_csv('D:/Project 3 Cardheko/structured_new_car_overview5.csv')
df4 = pd.read_csv('D:/Project 3 Cardheko/structured_new_car_specs5.csv')

# Concatenate DataFrames horizontally
final_concat_df = pd.concat([df1, df2, df3, df4], axis=1)

# Display the final concatenated DataFrame
final_concat_df

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Front Brake Type,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Ground Clearance Unladen,Cargo Volumn,Compression Ratio,Acceleration,Top Speed
0,0,Petrol,Sedan,"70,000",Automatic,3,3rd Owner,Toyota,Toyota Camry,2014,...,Ventilated Disc,Solid Disc,"Tubeless,Radial",17,4.0,NaN,NaN,NaN,NaN,NaN
1,0,Petrol,Hatchback,"23,981",Manual,1,1st Owner,Datsun,Datsun RediGO,2017,...,Disc,Drum,NaN,NaN,5.0,185mm,222,NaN,NaN,NaN
2,0,Petrol,SUV,"7,100",Automatic,1,1st Owner,Renault,Renault Kiger,2021,...,Disc,Drum,"Tubeless, Radial",NaN,5.0,NaN,405,NaN,NaN,NaN
3,0,Petrol,Hatchback,"71,574",Manual,2,2nd Owner,Hyundai,Hyundai i20,2011,...,Disc,Drum,"Tubeless,Radial",14,5.0,NaN,295 Lit,:1,12.96 Sec,NaN
4,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Audi,Audi Q3,2014,...,Ventilated Disc,Drum,"Tubeless,Radial",16,5.0,NaN,460-litres,NaN,8.2 Seconds,212 Kmph
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1376,0,Petrol,Hatchback,"10,000",Manual,1,1st Owner,Maruti,Maruti Celerio,2022,...,Ventilated Disc,Drum,"Tubeless, Radial",NaN,5.0,NaN,313,NaN,NaN,NaN
1377,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Maruti,Maruti Alto 800,2014,...,Solid Disc,Drum,Tubeless Tyres,NaN,5.0,NaN,177-litres,NaN,19 Seconds,140 kmph
1378,0,Petrol,Sedan,"50,000",Automatic,3,3rd Owner,Mercedes-Benz,Mercedes-Benz C-Class,2011,...,Ventilated Disc,Solid Disc,"Tubeless,Radial",17,4.0,NaN,475-litres,9.3:1,8.8 Seconds,230km/hr
1379,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Ritz,2012,...,Ventilated Disc,Drum,"Tubeless,Radial",14,5.0,NaN,236-liters,NaN,15 Seconds,156 Kmph
1380,0,Diesel,SUV,"1,20,000",Manual,2,2nd Owner,Renault,Renault Duster,2017,...,Disc,Drum,"Tubeless,Radial",16,5.0,NaN,410-litres,NaN,14.20 Seconds,168 Kmph

In [11]:
final_concat_df['city'] = 'Kolkata'

In [12]:
final_concat_df.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,...,Rear Brake Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Ground Clearance Unladen,Cargo Volumn,Compression Ratio,Acceleration,Top Speed,city
0,0,Petrol,Sedan,"70,000",Automatic,3,3rd Owner,Toyota,Toyota Camry,2014,...,Solid Disc,"Tubeless,Radial",17,4.0,NaN,NaN,NaN,NaN,NaN,Kolkata
1,0,Petrol,Hatchback,"23,981",Manual,1,1st Owner,Datsun,Datsun RediGO,2017,...,Drum,NaN,NaN,5.0,185mm,222,NaN,NaN,NaN,Kolkata
2,0,Petrol,SUV,"7,100",Automatic,1,1st Owner,Renault,Renault Kiger,2021,...,Drum,"Tubeless, Radial",NaN,5.0,NaN,405,NaN,NaN,NaN,Kolkata
3,0,Petrol,Hatchback,"71,574",Manual,2,2nd Owner,Hyundai,Hyundai i20,2011,...,Drum,"Tubeless,Radial",14,5.0,NaN,295 Lit,:1,12.96 Sec,NaN,Kolkata
4,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Audi,Audi Q3,2014,...,Drum,"Tubeless,Radial",16,5.0,NaN,460-litres,NaN,8.2 Seconds,212 Kmph,Kolkata

In [13]:
final_concat_df.to_csv('Kolkata.csv',index=False)